{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <li><a href="{{ path('addSupplier') }}">Pridėti tiekėją</a></li>
    <li><a href="{{ path('paymentsForSuppliers') }}">Apmokėjimai tiėkėjams</a></li>

    <table class="table table-striped table-hover">

        <tr>
            <td>Nr.</td>
            <td>Įmonės kodas</td>
            <td>Pavadinimas</td>
            <td>Adresas</td>
            {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_MECHANIC')) %}
            {% endif %}
        </tr>

        {% for supplier in suppliers %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{ supplier.companycode }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.address }}</td>

                {% if (is_granted('ROLE_ADMIN')) %}
                    <td>
                        <a href="{{ path('editVisit', {id: supplier.id}) }}">
                            <button type="button" class="btn btn-primary">Redaguoti</button>
                        </a>
                        <a href="{{ path('editVisit', {id: supplier.id}) }}">
                            <button type="button" class="btn btn-danger">Šalinti</button>
                        </a>
                    </td>

                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
