{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <br>
<div class="btn-group">
    {% if is_granted('ROLE_ADMIN')%}
        <a href="{{ path('addSupplier') }}" class="btn btn-info">Pridėti tiekėją</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_MECHANIC'))%}
        <a href="{{ path('allwaybills') }}" class="btn btn-info">Važtaraščiai</a></li>
        <a href="{{ path('allRequiredParts') }}" class="btn btn-info">Reikiamų detalių sąrašas</a>
    {% endif %}
</div>
    <br>
    <br>
    <br>
    <table class="table table-striped table-hover table-bordered">

        <tr>
            <td>Nr.</td>
            <td>Įmonės kodas</td>
            <td>Pavadinimas</td>
            <td>Adresas</td>
            <td>Sąskaitos numeris</td>
            {% if (is_granted('ROLE_ADMIN')) %}
                <td></td>
            {% endif %}
        </tr>

        {% for supplier in suppliers %}
            <tr>
                <th>{{ loop.index }}</th>
                <td>{{ supplier.companycode }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.address }}</td>
                <td>{{ supplier.accNumber }}</td>

                {% if (is_granted('ROLE_ADMIN')) %}
                    <td>
                        <a href="{{ path('paymentsForSuppliers', {id: supplier.id}) }}">
                            <button type="button" class="btn btn-warning">Apmokėti</button>
                        </a>
                        <a href="{{ path('editSupplier', {id: supplier.id}) }}">
                            <button type="button" class="btn btn-primary">Redaguoti</button>
                        </a>
                        <a href="{{ path('deleteSupplier', {id: supplier.id}) }}">
                            <button type="button" class="btn btn-danger" onclick='return confirm("Ar tikrai norite šalinti tiekėją?")'>Šalinti</button>
                        </a>
                    </td>

                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
