{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <center><h2>Apmokėti tiekėjui</h2></center>
    <br><br>
    {% set numberOfWayBills = 0 %}
    {% set totalQuantityOfParts = 0 %}
    {% set total = 0 %}
    {% for waybill in waybills %}
        {% set numberOfWayBills = numberOfWayBills + 1 %}
        {% set totalQuantityOfParts = totalQuantityOfParts + waybill.quantity %}
        {% set total = total + waybill.totalPrice %}
    {% endfor %}
    <center>Pavedimo informacija</center>
    <center>
    <div style="max-width:40%;">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>Tiekėjo įmonės kodas</th>
            <td>{{ supplier[0].companycode }}</td>
        </tr>
        <tr>
            <th>Tiekėjo pavadinimas</th>
            <td>{{ supplier[0].name }}</td>
        </tr>
        <tr>
            <th>Tiekėjo adresas</th>
            <td>{{ supplier[0].address }}</td>
        </tr>
        <tr>
            <th>Tiekėjo sąskaitos numeris</th>
            <td>{{ supplier[0].accNumber }}</td>
        </tr>
        <tr>
            <th>Tiekėjo važtaraščių kiekis</th>
            <td>{{ numberOfWayBills }}</td>
        </tr>
        <tr>
            <th>Atvežtų detalių bendras kiekis</th>
            <td>{{ totalQuantityOfParts }}</td>
        </tr>
        <tr>
            <th>Bendra suma</th>
            <td>{{ total }} €</td>
        </tr>
    </table>
    </div>
    </center>


{% endblock %}