{% extends 'base.html.twig' %}
{% block title %}Hello {{ controller_name }}!{% endblock %}

 {% block body %}

         {% if (is_granted('ROLE_ADMIN')) %}
             <li><a href="{{ path('addProduct') }}">Pridėti prekę</a></li>

         {% endif %}
     <li><a href="{{ path('list') }}">Prekių sąrašas</a></li>


     <li><a href="{{ path('payment') }}">Prekių apmokėjimas</a></li>
     <li><a href="{{ path('orderedShop') }}">Užsakytos prekės</a></li>

         <table class="table table-striped table-hover">

             <tr>
                     <td>Nr.</td>
                     <td>Prekės kodas</td>
                     <td>Pavadinimas</td>
                     <td>Kaina</td>

                 </tr>

             {% for product in products %}
                     <tr>
                             <th>{{ loop.index }}</th>
                             <td>{{ product.code }}</td>
                             <td>{{ product.name }}</td>
                             <td>{{ product.price }}</td>

                             {% if (is_granted('ROLE_ADMIN')) %}
                                     <td>
                                             <a href="{{ path('editProduct', {id: product.id}) }}">
                                                     <button type="button" class="btn btn-primary">Redaguoti</button>
                                                 </a>
                                             <a href="{{ path('deleteProduct', {id: product.id}) }}">
                                                     <button type="button" class="btn btn-danger">Šalinti</button>
                                                 </a>
                                         </td>

                                 {% endif %}
                             <td>
                                     <a href="{{ path('addOrder', {id: product.id}) }}">
                                             <button type="button" class="btn btn-primary">Pridėti prie užsakymo</button>
                                         </a>
                                 </td>
                         </tr>
                 {% endfor %}
         </table>
 {% endblock %}