{% extends 'base.html.twig' %}
{% block title %}Hello {{ controller_name }}!{% endblock %}

 {% block body %}


     <table class="table table-striped table-hover">

         <tr>
             <td>Nr.</td>
             <td>Prekės kodas</td>
             <td>Pavadinimas</td>
             <td>Kaina</td>

         </tr>

         {% for product in products %}
             <tr>
                 <th>{{ loop.index }}</th>
                 <td>{{ product.ProductName.code }}</td>
                 <td>{{ product.ProductName.name }}</td>
                 <td>{{ product.ProductName.price }}</td>


                 {% if (is_granted('ROLE_ADMIN')) %}
                     <td>
                         <a href="{{ path('editOrder', {id: product.id}) }}">
                             <button type="button" class="btn btn-primary">Redaguoti</button>
                         </a>
                         <a href="{{ path('deleteOrder', {id: product.id}) }}">
                             <button type="button" class="btn btn-danger">Šalinti</button>
                         </a>
                     </td>

                 {% endif %}
             </tr>
         {% endfor %}
     </table>
 {% endblock %}