{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <li><a href="{{ path('addWork') }}">Pridėti darbą</a></li>
    <li><a href="{{ path('editWork') }}">Redaguoti darbą</a></li>
    <li><a href="{{ path('deleteWork') }}">Šalinti darbą</a></li>
    <li><a href="{{ path('changeTimeNeeded') }}">Keisti laiko įvertį</a></li>
    <li><a href="{{ path('confirmCompletion') }}">Patvirtinti darbo atlikimą</a></li>
    <li><a href="{{ path('timeTable') }}">Tvarkaraštis</a></li>

{% endblock %}
